
<div class="navbar-fixed-top" #navbar>
    <div class="d-flex contact-wrapper">
        <img src="./assets/img/Group 5731.png" class="left-image">
        <div class="contact">
            <span><img src="./assets/img/email-24px@2x.png" class="contact-img">Start Planning</span>
            <span><img src="./assets/img/call-24px (1)@2x.png" class="contact-img">0207 071 3683</span>
        </div>
    </div>

    <app-navbar></app-navbar>
</div>
<div class="main-container">
    <div class="middle-img">
        Travel Center UK
    </div>
</div>
<router-outlet></router-outlet>